<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:object="${data}"
    th:action="@{/add}"
    method="POST">
        <label>Email</label>
        <input id="email" type="text" th:field="*{email}"/><br>
        <label>Name</label>
        <input id="name" type="text" th:field="*{name}"/><br>
        <label>Phone</label>
        <input id="phone" type="text" th:field="*{phone}"/><br>
        <label>Status</label>
        <input list = "status">
        <datalist id="status" th:field="*{status}">
            <option value = "friend">
            <option value = "family">
            <option value = "pikachu">
        </datalist><br>
        <label>DOB</label>
        <input id="dob" type="date" th:field="*{dob}"/><br>
        <label>Passphrase</label>
        <input id="passphrase" type="text" th:field="*{passphrase}"/><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>